/* reset some margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
}

/* < !-- Logo & Navbar start --> */
.top-header-con {
    /* border: 1px solid red; */
    width: 1280px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    background-color: black;
    color: #fff;
}

.top-header-con a {
    width: 60px;
    height: 35px;
    text-decoration: none;
    color: #fff;
    margin: auto .5rem;
    padding: .5rem;
}

nav>button {
    padding: .1rem;
    font-size: smaller;
    border-radius: 20%;
    font-weight: bold;
}

.top-header-con a:hover {
    background: white;
    border-radius: 3px;
    color: black;
}

/* < !-- Logo & Navbar end --> */

/* < !-- Header image & content start --> */
.header-img {
    width: 1280px;
    height: 560px;
    /* border: 1px solid red; */
    padding: 2rem 2rem;
    background-image: url("img/top-view-food.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left;
}

.header-text {
    color: #fff;
    width: 400px;
    height: 400px;
    padding: 0rem 2rem;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 20px;

}

.header-text h1 {
    padding-top: 2.5rem;
}


.header-text p {
    text-indent: 20px;
    margin: 1rem .5rem;
}


.header-text button {
    width: 100px;
    border: 1px solid green;
    padding: .5rem;
    border-radius: 10px;
    font-weight: bold;
}

/* < !-- Header image & content end --> */

/* < !-- best seller section start--> */
.best-seller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid green; */
    width: 1280px;
}

.best-seller-content {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.best-seller-content p {
    width: 60%;
    margin: 1rem auto;
}

.best-seller-con {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}


.best-seller-item {
    width: 380px;
    padding: 1rem;
    /* border: 1px solid red; */
    text-align: center;
}

.best-seller-img-con {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-seller-item img {
    width: 280px;
    transform: translate(4px, 3px);
}

.best-seller-item h3 {
    margin: 1rem;
}

.best-seller-item p {
    margin-bottom: 1rem;
}

/* < !-- best seller section end--> */

/* < !-- middle-header-start --> */
.middle-header {
    display: flex;
    width: 1280px;
    margin: 5rem auto;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;

}


.m-h-img {
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 3px solid red; */
    border-radius: 100%;
    overflow: hidden;
}

.m-h-img img {
    height: 500px;
    transform: translateX(13%);

}

.m-h-content {
    transform: translate(-70px, -30px);
    width: 500px;
    padding: 2rem;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
}


.m-h-content h2 {
    width: 100%;
    /* margin-bottom: 1rem; */
    font-size: 50px;
    /* right: 0; */
    position: static;
}

.m-h-content p {
    width: 100%;
    /* right: 0; */
    position: static;
    text-indent: 3rem;
    margin: 1rem 0;
}

.m-h-b button {
    width: 100px;
    height: 30px;
    font-size: medium;
    /* font-weight: ; */
}


/* < !-- sta start--> */
.sta-con {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    position: relative;
    /* text-align: center; */
}

.sta-content {
    text-align: center;
    margin: 1rem auto;
    width: 1280px;
}

.sta-content>h2 {
    font-size: 50px;
}

.sta-content p {
    width: 80%;
    margin: .5rem auto;
}

.sta-con {
    display: flex;
    justify-content: center;
}

.sta-item {
    margin: 3rem 4rem;
    border: 3px solid rgb(113, 72, 0);
    border-radius: 50%;
    padding: 2rem;
    text-align: center;
    /* background-color: rgb(80, 35, 0); */
    color: rgb(0, 0, 0);
}

.sta-item h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: .2rem;
}

/* < !-- sta start--> */